{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
  <h1>Hi,Guys!</h1>
{% else %}
  <h1>Welcome back, {{ current_user.nickname }}!</h1>
{% endif %}
{% for post in posts %}
  <p>{{ post.author.nickname }} says:<b>{{ post.body }}</b></p>
{% endfor %}
{% if pagination %}
    {% for blog in pagination.items %}
    <p style="color:#ff6600;">{{ blog.body }}</p>
    <p style="color:#4c4c4c;">{{ blog.timestamp.strftime("%a %d %b %Y %H:%M:%S") }} </p>
    <hr/>
    <% endfor %>

    {% if pagination.has_prev %} {# page front#}
    <a href="{{ url_for('users',user_id=current_user.id, page=pagination.prev_num) }}><<prev</a>
    {% else %}
    <<None
    {% endif %}
    {%if pagination.has_next %}
    <a href="{{ url_for('users',user_id=current_user.id,page=pagination.next_num) }}"> next >></a>
    {% else %}
    None >>
    {% endif %}
{% else %}
    <p style="color:blue;">the guy is so lazy....</p>
{% endif %}
{% endblock %}
